RAILS_MASTER_KEY=replace-me
BOT_TOKEN=
DEV_TELEGRAM_ID=
VK_TOKEN=
VK_GROUP_ID=
VK_ALBUM_ID=
YANDEX_MAPS_API_KEY=
ROLLBAR_ACCESS_TOKEN=
PROMETHEUS_TOKEN=
ADMIN_EMAIL=admin@sion2k.ru
INFO_EMAIL=info@sion2k.ru
